@import "bootstrap-sprockets";
@import "bootstrap";
@import "user_session";
@import "jquery.datetimepicker";

$violet: #584666;
$salmon: #FF7F5F;
$trampolim-green: #52C49F;
$dark-gray: #262626;

//global

button, .btn {
  border-radius: 1px;
}

.btn-primary {
  background-color: $dark-gray;
  border-color: darken($dark-gray, 10%);
  &:hover {
    background-color: darken($dark-gray, 10%);
  border-color: darken($dark-gray, 20%);
  }
}

.navbar-brand { font-size: 28px; }
.navbar {
  border-bottom-color: $dark-gray;
  background-color: white;
  a { color: $dark-gray; }
  .navbar-logo { height: 26px; }
  .navbar-toggle {
    background-color: lighten($dark-gray, 5%);
    .icon-bar {
      background-color: white;
    }
  }
}

.alert {
  position: fixed;
  background-color: $dark-gray;
  bottom: 0px;
  left: 20px;
  right: 20px;
  margin-bottom: 6px;
  z-index: 3;
  border-radius: 3px;
  text-align: center;
  color: white;
}
.alert-danger {
  border-color: #903131;
  border-width: 3px;
}

.discovery {
  background-color: lighten($dark-gray, 80%);
  padding: 1px 10px 10px 10px;
  margin: 15px 0 20px 0;
  color: $dark-gray;
  .row { margin: 0; }
  .col-sm-12.col-xs-12 {
    margin-bottom: 3px;
  }
}

.events-container {
  padding: 40px;
  overflow: hidden;
}

.event-container{
  padding-left: 8px;
  padding-right: 8px;
  a:hover { text-decoration: none; }

  // category based event card properties 
  .concert-event {
    &:hover {
      background-color: rgba($violet, 0.4);
      .filter { background-color: rgba($violet, 0.4); }
    }
    .event-title { background-color: lighten($violet, 10%) }
  }
  .play-event {
    &:hover {
      background-color: rgba($salmon, 0.4);
      .filter { background-color: rgba($salmon, 0.4); }
    }
    .event-title { background-color: $salmon }
  }
  .exibithion-event {
    &:hover {
      background-color: rgba($trampolim-green, 0.4);
      .filter { background-color: rgba($trampolim-green, 0.4); }
    }
    .event-title { background-color: $trampolim-green }
  }

  // global event card properties
  .event-card {
    border: 1px solid #ddd;
    height: 370px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    color: $dark-gray;
    border-radius: 4px;

    .event-poster {
      height: 200px;
      width: 100%;
      border-bottom: 2px solid #333;
      background-size: cover;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);

      .filter {
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
      }
    }

    .event-title {
      margin-top: -40px;
      margin-right: 10%;
      padding: 4px;
      color: white;
      border-radius: 0 6px 6px 0;

      h3 {
        margin: 10px;
      }
    }

    .event-informations-columns {
      font-size: 22px;
      text-align: center;
      .row {
        margin-left: 0;
        margin-right: 0;
        .date-column {
          margin-top: 4px;
          .month {
            font-size: 12px;
            margin-top: -6px;
          }
        }
        .guests-column {
          margin-top: 4px;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
          .guests-label {
            font-size: 12px;
            margin-top: -6px;
          }
        }
        .price-column {
        }
      }
    }
  }
}

.show-poster {
  width: 100%;
  height: 300px;
  overflow: hidden;
    background-size: cover;

  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;

  &:hover {
    height: 500px;
  }

  img {
    position: relative;
    width: 100%;
    vertical-align: middle;
  }
}

.event-show {
  margin-bottom: 30px;
  margin-left: 30px;
  
  .title {
    h1 {
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    position: relative;
    width: 100%;
    margin-top: -100px;
    height: 100px;
    color: white;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;

    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
  }

  .title:hover {
    height: 160px;
    margin-top: -160px;
  }
  .concert-event {
    background: -webkit-linear-gradient( rgba($violet, 0), rgba($violet, 0.9), $violet ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba($violet, 0), rgba($violet, 0.9), $violet ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba($violet, 0), rgba($violet, 0.9), $violet ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba($violet, 0), rgba($violet, 0.9), $violet ); /* Standard syntax */
  }
  .play-event {
    background: -webkit-linear-gradient( rgba($salmon, 0), rgba($salmon, 0.9), $salmon ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba($salmon, 0), rgba($salmon, 0.9), $salmon ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba($salmon, 0), rgba($salmon, 0.9), $salmon ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba($salmon, 0), rgba($salmon, 0.9), $salmon ); /* Standard syntax */
  }

  .exibithion-event {
    background: -webkit-linear-gradient( rgba($trampolim-green, 0), rgba($trampolim-green, 0.9), $trampolim-green ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba($trampolim-green, 0), rgba($trampolim-green, 0.9), $trampolim-green ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba($trampolim-green, 0), rgba($trampolim-green, 0.9), $trampolim-green ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba($trampolim-green, 0), rgba($trampolim-green, 0.9), $trampolim-green ); /* Standard syntax */
  }

  .primary-info {
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
    &:hover { background-color: lighten($dark-gray, 80%); }
    
    .btn { float: right; }

    .secondary-info {
      color: lighten($dark-gray, 30%);
      margin-top: -10px;
      margin-left: 14px;
    }
  }
  .rating-box {
    background-color: $dark-gray;
    color: white;
    padding-top: 5px;
    text-align: center;
    a {
      color: darken(white, 30%);
      &:hover { color: white; }
    }
  }
  .event-map {
    width: 100%;
    margin-top: 10px;
  }
  #new_comment {
    textarea {
      width: 100%;
      border-radius: 2px;
    }
    .btn { margin-top: -10px; }
  }
  .comment {
    margin-bottom: 20px;
    img {
      float: left;
      margin-right: 10px;
    }
    .name { font-weight: 900; }
  }
}

.profiles-column {
  text-align: center;
  .btn {
    margin-top: 10px;
    width: 50%;
  }
  .profiles-list {
    padding-right: 20px;
    padding-left: 20px;
    img {
      margin: 2px;
    }
  }
}

.profile-show {
  margin: 30px;
  .user-img {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
  }
  #update-profile {
    float: right;
    margin-top: 15px;
  }
}

.owner-box {
  text-align: left;
  p {
    vertical-align: middle;
  }

  img {
    vertical-align: text-top;
    max-width: 56px;
  }
}

.content {
  margin-top: 55px;
} 

.btn-group {
  margin-right: 5px;
}

#event_about {
  height: 480px;
}