<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para mudança de sua senha. Você pode fazer isso atravéz do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
